/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* Big tablets to 1200px (widths smaller than the 1120px row) */
@media only screen and (max-width: 1200px) {
    .nav-content {
        display: none;
    }
    .row {
        padding: 24px;
    }

    /* SECTION KNOWLEDGE */
    .knowledge-section {
        padding: 24px;
    }

    /* SECTION CONTACT */
    .form-section {
        padding: 24px;
    }
}



/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .header-right {
        display: none;
    }
    .header-left {
        width: 100%;
    }
    header {
        padding: 32px 24px;

    }
    
    /* SECTION KNOWLEDGE */
    .knowledge-section {
        padding: 24px;
    }

    /* SECTION CONTACT */
    .form-section {
        padding: 24px;
    }

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

    /* NAVIGATION */
    .sticky {
        padding: 0 24px;
    }

    nav {
        display: none;
    }

    /* HEADER */

    .header-right {
        display: none;
    }
    .header-left {
        width: 100%;
    }
    header {
        padding: 24px;

    }
    .header-text-box h1 {
        font-size: 64px;
       
    }
    .text-box-description {
        font-size: 24px;
    }
    .text-box-content {
        font-size: 20px;
    }
    .text-box-social svg {
        width: 65px;
    }

    .row {
        padding: 0;
    }

    /* SECTION KNOWLEDGE */

    .knowledge-section {
        padding: 24px;
    }

    .knowledge-section-content {
        display:inline-block;
        width: 100%;
    }

    .section-box {
        margin-bottom: 12px;
    }

    /* SECTION CONTACT */

    .form-section {
        padding: 24px;
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

    /* SECTION KNOWLEDGE */

    .knowledge-section {
        padding: 24px;
    }

    /* SECTION CONTACT */
    .form-section-container {
        padding: 24px;
    }

    .section-box {
        padding: 0;
    }
    /* SECTION CONTACT */

    .form-section {
        padding: 0px;
    }
    
}